<%- model_class = Group -%>
<div class="page-header clearfix">
  <h1 class="pull-left"<h1><%= parent %> <%= @group %></h1></h1>
  <%= link_to t('download_last_30_days'), division_group_path(parent,@group,format:'csv'), class: 'btn btn-primary btn-large pull-right' %>
</div>

<dl class="dl-horizontal">
  <% @group.users.each do |user| %>
    <dt><strong><%= link_to(user,user) %></strong></dt>
    <dd><%= link_to t('remove'),
                [user,user.assigned_group_for(@group.id)],
                :method => :delete,
                :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure? This will this person as a member of the group.')),
                :class => 'btn btn-mini btn-danger' %></dd>
  <% end %>
</dl>

<section class="row-fluid">
  <div class="span12">
    <h2><%=t 'last_5_days' %></h2>
    <div class="group-graph" data-group_id="<%= @group.id %>" data-day_range="5"></div>
  </div>
</section>

<section class="row-fluid">
  <div class="span12">
    <h2><%=t 'last_10_days' %></h2>
    <div class="group-graph" data-group_id="<%= @group.id %>" data-day_range="10"></div>
  </div>
</section>

<section class="row-fluid">
  <div class="span12">
    <h2><%=t 'last_15_days' %></h2>
    <div class="group-graph" data-group_id="<%= @group.id %>" data-day_range="15"></div>
  </div>
</section>  
  
<section class="row-fluid">
  <div class="span12">
    <h2><%=t 'last_30_days' %></h2>
    <div class="group-graph" data-group_id="<%= @group.id %>" data-day_range="30"></div>
  </div>
</section>

<div class="form-actions">
  <%= link_to t('add_member'),
              new_group_user_path(@group), :class => 'btn btn-primary'  %>
  <%= link_to t('.back', :default => t("helpers.links.back")),
              groups_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              [:edit,parent,@group], :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              group_path(@group),
              :method => 'delete',
              :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
              :class => 'btn btn-danger' %>
</div>
