<%= content_for(:breadcrumb) do %>
  <div class="span6">
    <ul class="breadcrumb">
      <li><%= link_to t('home'), root_path %><span class="divider">/</span></li>
      <% if parent? %>
        <li><%= link_to parent.division.organization, [parent.division.organization] %><span class="divider">/</span></li>
        <li><%= link_to t('divisions'), [current_user, :divisions] %><span class="divider">/</span></li>
        <li><%= link_to parent.division, [current_user, parent.division] %><span class="divider">/</span></li>
        <li><%= link_to parent, [parent.division, parent] %><span class="divider">/</span></li>
      <% else %>
        <li><%= link_to t("users"), [:users] %><span class="divider">/</span></li>
      <% end %>
      <li class="active"><%= resource.new_record? ? t("new_user") : t("edit_user") %></li>
    </ul>
  </div>  
<% end %>


<%= simple_form_for (parent? ? [parent,@user] : @user), :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :name %>
  <%= f.input :email %>
  <%= f.input :phone_number %>
  <%= f.input :reminder_hour, label: "Remind At", collection: [['Midnight',0],['1:00 am',1],['2:00 am',2],['3:00 am',3],['4:00 am',4],['5:00 am',5],['6:00 am',6],['7:00 am',7],['8:00 am',8],['9:00 am',9],['10:00 am',10],['11:00 am',11],['Noon',12],['1:00 pm',13],['2:00 pm',14],['3:00 pm',15],['4:00 pm',16],['5:00 pm',17],['6:00 pm',18],['7:00 pm',19],['8:00 pm',20],['9:00 pm',21],['10:00 pm',22],['11:00 pm',23]], include_blank: false %>
  <%= f.input :reminder_active %>
  
  <%= f.association :default_division, collection: (@user.divisions.all + @user.admined_divisions) unless @user.new_record? %>
  <%= f.input :active %>
  <%= f.input :language, collection: Locale.all.map{ |locale| [locale.name,locale.code] }, include_blank: false %>
  
  <%= f.input :assigned_roles, label: "Roles", as: :check_boxes, collection: ['admin','athlete'], input_html: {include_blank: true, multiple: true} %>
  <%= f.input :change_roles, as: :hidden, input_html: {value: 1} %>
  <%= f.association :groups, as: :check_boxes, label_method: :full_name, collection: Group.accessible_by(current_ability) %>
  
  
  <%= f.input :password %>
  <%= f.input :password_confirmation %>
  
  
  
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                users_path, :class => 'btn' %>
  </div>
<% end %>
