<%- model_class = User -%>

<%= content_for(:breadcrumb) do %>
  <div class="span6">
    <ul class="breadcrumb">
      <li><%= link_to t('home'), root_path %><span class="divider">/</span></li>
      <% if resource.organization %>
        <li><%= link_to resource.organization, [resource.organization] %><span class="divider">/</span></li>
      <% end %>
      <li><%= link_to t('divisions'), [current_user, :divisions] %><span class="divider">/</span></li>
      <li class="active"><%= resource %></li>
    </ul>
  </div>  
  
  <div class="span6 btn-group">
    <%= link_to t('download'), user_path(@user,format:'csv'), class: 'btn btn-primary ' %>
     <% if can?(:update, @user) %>
       <%= link_to t('.edit', :default => t("helpers.links.edit")), edit_user_path(@user), :class => 'btn ' %>
     <% end %>
     <% if can?(:create, RecordedMetric) %>
        <%= link_to t('record_metric'), new_user_recorded_metric_path(resource), :class => 'btn btn-info ' %>
     <% end %>
     <% if can?(:update, @user) %>
      <%= link_to t('metrics'), [:dashboard,@user], :class => 'btn ' %>
    <% end %>
  </div>
<% end %>

<div class="accordion" id="accordion">
  <div class="accordion-group">
    <div class="accordion-heading">
      <h4 class="accordion-title">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#alerts">
          <%=t 'alerts' %>
        </a>
      </h4>
    </div>
    <div id="alerts" class="accordion-collapse collapse in">
      <div class="accordion-body">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Metric</th>
              <th>Value</th>
              <th>Date</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% resource.assigned_alerts.reorder{ date.desc }.each do |aa| %>
              <tr>
                <td><%= aa.alert.metric.name %></td>
                <% if aa.recorded_metric %>
                  <td><%= aa.recorded_metric.value %></td>
                <% else %>
                  <td><%= aa.recorded_metric_id %></td>
                <% end %>
                <td><%= aa.date %></td>
                <td><%= aa.alert.message %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  
  <div class="accordion-group">
    <div class="accordion-heading">
      <h4 class="accordion-title">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#completed_surveys">
          <%=t 'completed_surveys' %>
        </a>
      </h4>
    </div>
    <div id="completed_surveys" class="accordion-collapse collapse">
      <div class="accordion-body">
        <table class="table table-striped">
          <thead>
            <tr>
              <th><%=t 'date_taken' %></th>
              <th><%=t 'name' %></th>
              <th><%=t 'score' %></th>
            </tr>
          </thead>
          <tbody>
            <% @completed_surveys.each do |completed_survey| %>
              <tr>
                <td><%= completed_survey.date %></td>
                <td><%= can?(:manage, @user.organizations.first) ? link_to(completed_survey, [@user,completed_survey]) : completed_survey %></td>
                <td><%= completed_survey.score %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <%= will_paginate @completed_surveys %>
      </div>
    </div>
  </div>

  <div class="accordion-group">
    <div class="accordion-heading">
      <h4 class="accordion-title">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#last_5_days">
          <%=t 'last_5_days', number: '5' %>
        </a>
      </h4>
    </div>
    <div id="last_5_days" class="accordion-collapse collapse">
      <div class="accordion-body">
        <div class="graph" data-user_id="<%= @user.id %>" data-day_range="5"></div>
      </div>
    </div>
  </div>
  
  <div class="accordion-group">
    <div class="accordion-heading">
      <h4 class="accordion-title">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#last_10_days">
          <%=t 'last_10_days', number: '10' %>
        </a>
      </h4>
    </div>
    <div id="last_10_days" class="accordion-collapse collapse">
      <div class="accordion-body">
        <div class="graph" data-user_id="<%= @user.id %>" data-day_range="10"></div>
      </div>
    </div>
  </div>
  
  <div class="accordion-group">
    <div class="accordion-heading">
      <h4 class="accordion-title">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#last_15_days">
          <%=t 'last_15_days', number: '15' %>
        </a>
      </h4>
    </div>
    <div id="last_15_days" class="accordion-collapse collapse">
      <div class="accordion-body">
        <div class="graph" data-user_id="<%= @user.id %>" data-day_range="15"></div>
      </div>
    </div>
  </div>
  
  <div class="accordion-group">
    <div class="accordion-heading">
      <h4 class="accordion-title">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#last_30_days">
          <%=t 'last_30_days', number: '30' %>
        </a>
      </h4>
    </div>
    <div id="last_30_days" class="accordion-collapse collapse">
      <div class="accordion-body">
        <div class="graph" data-user_id="<%= @user.id %>" data-day_range="30"></div>
      </div>
    </div>
  </div>
  
  <div class="accordion-group">
    <div class="accordion-heading">
      <h4 class="accordion-title">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#metrics">
          <%=t 'metrics' %>
        </a>
      </h4>
    </div>
    <div id="metrics" class="accordion-collapse collapse">
      <div class="accordion-body">
        <table class="table table-striped">
          <thead>
            <tr>
              <th><%=t 'metric' %></th>
              <th><%=t 'value' %></th>
              <th><%=t 'recorded_on' %></th>
            </tr>
          </thead>
          <tbody>
            <% @user.organizations.each do |organization| %>
              <% organization.metrics.each do |metric| %>
                <tr>
                  <td><%= metric %></td>
                  <td><%= @user.recorded_metrics.current_for(metric.id).first.try(:value) || 'N/A' %></td>
                  <td><%= @user.recorded_metrics.current_for(metric.id).first.try(:recorded_on) || 'N/A' %></td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  
  <div class="accordion-group">
    <div class="accordion-heading">
      <h4 class="accordion-title">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#groups">
          <%=t 'groups' %>
        </a>
      </h4>
    </div>
    <div id="groups" class="accordion-collapse collapse">
      <div class="accordion-body">
        <table class="table table-striped">
          <thead>
            <tr>
              <th><%=t 'name' %></th>
            </tr>
          </thead>
          <tbody>
            <% @user.groups.each do |group| %>
              <tr>
                <td><%= link_to group.full_name, [group.division, group] %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  
  <div class="accordion-group">
    <div class="accordion-heading">
      <h4 class="accordion-title">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#merge">
          <%=t 'merge' %>
        </a>
      </h4>
    </div>
    <div id="merge" class="accordion-collapse collapse">
      <div class="accordion-body">
        <p>The merge tool will allow you to copy all an athletes data to another player.</p>
        <p>Use this tool if you misspelled someone's name and then inadvertently created a new athlete with the correct spelling.</p>
        <p>Submitting the form below will copy all data from this athlete to the target athlete selected and completely remove this athlete, so make sure this is what you want to do.</p>
        
        <%= simple_form_for resource, :html => { :class => 'form-horizontal' } do |f| %>
          <%= f.input :transfer_to %>
          <div class="form-actions">
            <%= f.button :submit, :class => 'btn-primary' %>
          </div>
        <% end %>
        
      </div>
    </div>
  </div>
</div>
