<%- model_class = User -%>
<div class="page-header clearfix clearfix row-fluid">
  <h1 class="span8">
    <%= @user %> 
    <% if can?(:manage, @user.organizations.first) %>
      <small>(<%= @user.groups.map{|group| link_to(group,[group.division,group])}.join(',').html_safe %>)</small>
    <% end %>
  </h1>
  <%= link_to t('download'), user_path(@user,format:'csv'), class: 'btn btn-primary btn-large span2' %>
  <% if can?(:update, @user.organizations.first)
 %>
    <%= link_to t('.edit', :default => t("helpers.links.edit")), edit_user_path(@user), :class => 'btn btn-large span2' %>
  <% else %>
    <%= link_to t('leaderboards'), @user.divisions.first, class: 'btn btn-large span2' %>
  <% end %>
</div>

<section>
  <h2><%=t 'completed_surveys' %></h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th><%=t 'date_taken' %></th>
        <th><%=t 'name' %></th>
        <th><%=t 'score' %></th>
      </tr>
    </thead>
    <tbody>
      <% @completed_surveys.each do |completed_survey| %>
        <tr>
          <td><%= completed_survey.date %></td>
          <td><%= can?(:manage, @user.organizations.first) ? link_to(completed_survey, [@user,completed_survey]) : completed_survey %></td>
          <td><%= completed_survey.score %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= will_paginate @completed_surveys %>
</section>

<section class="row-fluid">
  <div class="span12">
    <h2><%=t 'last_x_days', number: '5' %></h2>
    <div class="graph" data-user_id="<%= @user.id %>" data-day_range="5"></div>
  </div>
</section>

<section class="row-fluid">  
  <div class="span12">
    <h2><%=t 'last_x_days', number: '10' %></h2>
    <div class="graph" data-user_id="<%= @user.id %>" data-day_range="10"></div>
  </div>
</section>

<section class="row-fluid">
  <div class="span12">
    <h2><%=t 'last_x_days', number: '15' %></h2>
    <div class="graph" data-user_id="<%= @user.id %>" data-day_range="15"></div>
  </div>
</section>

<section class="row-fluid">  
  <div class="span12">
    <h2><%=t 'last_x_days', number: '30' %></h2>
    <div class="graph" data-user_id="<%= @user.id %>" data-day_range="30"></div>
  </div>
</section>


<section>
  <h2><%=t 'metrics' %></h2>
  
  <table class="table table-striped">
    <thead>
      <tr>
        <th><%=t 'metric' %></th>
        <th><%=t 'value' %></th>
        <th><%=t 'recorded_on' %></th>
      </tr>
    </thead>
    <tbody>
      <% @user.organizations.each do |organization| %>
        <% organization.metrics.each do |metric| %>
          <tr>
            <td><%= metric %></td>
            <td><%= @user.recorded_metrics.current_for(metric.id).first.try(:value) || 'N/A' %></td>
            <td><%= @user.recorded_metrics.current_for(metric.id).first.try(:recorded_on) || 'N/A' %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
  
  <% if can?(:manage, @user.organizations.first) %>
    <div class="form-actions">
      <%= link_to t('record_metric'), new_user_recorded_metric_path(resource), :class => 'btn btn-info' %>
    </div>
  <% end %>
</section>