<%- model_class = Division -%>

<%= content_for(:breadcrumb) do %>
  <div class="span6">
    <ul class="breadcrumb">
      <li><%= link_to t('home'), root_path %><span class="divider">/</span></li>
      <li><%= link_to resource.organization, [resource.organization] %><span class="divider">/</span></li>
      <li><%= link_to t('divisions'), [current_user, :divisions] %><span class="divider">/</span></li>
      <li class="active"><%= resource %></li>
    </ul>
  </div>  
  
  <div class="span6 btn-group">
    <%= link_to t('.edit', :default => t("helpers.links.edit")), edit_division_path(@division), :class => 'btn btn-large' if can? :update, @division %>
    <%= link_to t('create_new_group'), new_division_group_path(@division), :class => 'btn btn-primary btn-large'  if can? :create, Group %>
    <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                division_path(@division),
                :method => 'delete',
                :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
                :class => 'btn btn-danger btn-large' if can? :destroy, @division %>
  </div>
<% end %>


<div class="row-fluid">
  <div class="span6">
    <h3><%=t ('todays_leaderboard') %></h3>
    <table class="table table-striped">
      <thead>
        <tr>
          <th><%=t 'rank' %></th>
          <th><%=t 'name' %></th>
          <th><%=t 'score' %></th>
        </tr>
      </thead>
      <tbody>
        <% @division.users.leaderboard(@division.today,@division.today).each_with_index do |user,i| %>
          <tr>
            <td><%= i+1 %></td>
            <td><%= user %></td>
            <td><%= user.completed_surveys.where{ date == my{@division.today} }.try(:first).try(:score) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="span6">
    <h3><%=t ('alltime_leaderboard') %></h3>
    <table class="table table-striped">
      <thead>
        <tr>
          <th><%=t 'rank' %></th>
          <th><%=t 'name' %></th>
          <th><%=t 'average' %></th>
          <th><%=t 'total' %></th>
        </tr>
      </thead>
      <tbody>
        <% @division.users.active.where{ average != nil }.reorder{ [average.desc,score.desc] }.each_with_index do |user,i| %>
          <tr>
            <td><%= i+1 %></td>
            <td><%= user %></td>
            <td><%= number_with_precision(user.average||0.00,precision: 2) %></td>
            <td><%= user.score %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>