<%- model_class = Division -%>

<%= content_for(:breadcrumb) do %>
  <div class="span6">
    <ul class="breadcrumb">
      <li><%= link_to t('home'), root_path %><span class="divider">/</span></li>
      <li><%= link_to resource.organization, [resource.organization] %><span class="divider">/</span></li>
      <li><%= link_to t('divisions'), [current_user, :divisions] %><span class="divider">/</span></li>
      <li class="active"><%= resource %></li>
    </ul>
  </div>  
  
  <div class="span6">
    <%= link_to t('metrics'), [:dashboard, parent, resource], :class => 'btn ' if can? :update, @division %>
    <%= link_to t('.edit', :default => t("helpers.links.edit")), edit_division_path(@division), :class => 'btn ' if can? :update, @division %>
    <%= link_to t('create_new_group'), new_division_group_path(@division), :class => 'btn btn-primary '  if can? :create, Group %>
    <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                division_path(@division),
                :method => 'delete',
                :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
                :class => 'btn btn-danger ' if can? :destroy, @division %>
  </div>
<% end %>

<% if resource.data_files.count > 0 %>
  <div class="alert alert-info">
    Your file is still processing. Please check back in a minute.
  </div>
<% end %>

<h2>Performance Profile</h2>
<h5>Comparing: <strong><%= @comparison %></strong> <small>(<a id="performance-toggle" href="#">Change</a>)</small></h5>

<form style="display:none;">
  <input type="hidden" id="compare-id" value="<%= resource.id %>">
  <input type="hidden" id="compare-type" value="<%= resource.class.name %>">
</form>
<div class="row-fluid">
  <div class="span2" style="display:none;" id="performance-nav">
    <ul class="nav nav-pills nav-stacked">
      <% resource.metrics.each do |metric| %>
        <li class="<%= metric == @comparison ? 'active' : '' %>"><a href="?compare_id=<%= metric.id %>"><%= metric %></a></li>
      <% end %>
    </ul>
  </div>
  <div class="span12" id="performance-content">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Athlete</th>
          <th style="text-align: right;">Last value</th>
          <th>Last Date</th>
          <th style="text-align: center;">Rank</th>
          <th style="text-align: center; width: 100px;">Percentile</th>
          <th style="text-align: center; width: 100px;">Z-Score</th>
        </tr>
      </thead>
      <tbody>
        <% resource.users.each do |m| %>
          <% rm = m.recorded_metrics.where{ metric_id == my{@comparison.id}}.reorder{ recorded_on.desc } %>
          <% if rm.limit(1).first %>
            <tr id="performance-calculation-<%= @comparison.id %>-<%= m.id %>" class="performance-calculation" data-for_metric="<%= @comparison.id %>" data-for_user="<%= m.id %>">
              <td><%= link_to m, "/admin/users/#{m.id}?compare_id=#{resource.id}&compare_type=#{resource.class.name}" %></td>
              <td style="text-align: right;"><%= rm.limit(1).first.numerical_value %></td>
              <td><%= rm.limit(1).first.recorded_on %></td>
              <td style="text-align: center;" class="rank"></td>
              <td style="text-align: center;"class="percentile"></td>
              <td style="text-align: center;" class="z-score"></td>
            </tr>
          <% end %>
        <% end %>
    
      </tbody>
  
    </table>
  </div>
</div>

<div class="accordion" id="accordion">
  <div class="accordion-group">
    <div class="accordion-heading">
      <h4 class="accordion-title">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseUsers">
          <%=t 'athletes' %>
        </a>
      </h4>
    </div>
    <div id="collapseUsers" class="accordion-collapse collapse in">
      <div class="accordion-body">
        <%= render 'shared/metric_cells' %>
      </div>
    </div>
  </div>
  
  <div class="accordion-group">
    <div class="accordion-heading">
      <h4 class="accordion-title">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#groups">
          <%=t 'groups' %>
        </a>
      </h4>
    </div>
    <div id="groups" class="accordion-collapse collapse">
      <div class="accordion-body">
        <table class="table table-striped">
          <tbody>
            <% resource.groups.each do |group| %>
              <td><%= link_to group, [resource,group] %></td>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  
  <div class="accordion-group">
    <div class="accordion-heading">
      <h4 class="accordion-title">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#leaderboard-today">
          <%=t 'todays_leaderboard' %>
        </a>
      </h4>
    </div>
    <div id="leaderboard-today" class="accordion-collapse collapse">
      <div class="accordion-body">
        <table class="table table-striped">
          <thead>
            <tr>
              <th><%=t 'rank' %></th>
              <th><%=t 'name' %></th>
              <th><%=t 'score' %></th>
            </tr>
          </thead>
          <tbody>
            <% @division.users.leaderboard(@division.today,@division.today).each_with_index do |user,i| %>
              <tr>
                <td><%= i+1 %></td>
                <td><%= user %></td>
                <td><%= user.completed_surveys.where{ date == my{@division.today} }.try(:first).try(:score) %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  
  <div class="accordion-group">
    <div class="accordion-heading">
      <h4 class="accordion-title">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#leaderboard-alltime">
          <%=t 'alltime_leaderboard' %>
        </a>
      </h4>
    </div>
    <div id="leaderboard-alltime" class="accordion-collapse collapse">
      <div class="accordion-body">
        <table class="table table-striped">
          <thead>
            <tr>
              <th><%=t 'rank' %></th>
              <th><%=t 'name' %></th>
              <th><%=t 'average' %></th>
              <th><%=t 'total' %></th>
            </tr>
          </thead>
          <tbody>
            <% @division.users.active.where{ average != nil }.reorder{ [average.desc,score.desc] }.each_with_index do |user,i| %>
              <tr>
                <td><%= i+1 %></td>
                <td><%= user %></td>
                <td><%= number_with_precision(user.average||0.00,precision: 2) %></td>
                <td><%= user.score %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


<%= render 'shared/upload_modal' %>