<div id="upload-modal" class="modal hide fade">
  <%= form_tag((resource.is_a?(Organization) ? [:upload_performance_data,resource] : [:upload_performance_data, (parent? ? parent : resource.organization),resource]), method: :put, multipart: true, class: 'horizontal') do %>
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h3>Upload Performance Data</h3>
    </div>
    <div class="modal-body">
      <div class="control-group">
        <label class="control-label" for="recorded_date">Date Recorded</label>
        <div class="controls">
          <input type="text" class="datepicker" id="recorded_date" name="recorded_date" value="<%=l params[:record_date], format: :picker %>">
        </div>
      </div>
      
      <div class="control-group">
        <label class="control-label" for="end_date">File</label>
        <div class="controls">
          <%= file_field_tag 'file', accept: 'text/csv' %>
          <span class="help-block">File must be in 'CSV' format</span>
        </div>
      </div>
    </div>
    <div class="alert alert-block alert-error" style="overflow:scroll;">
      <h4>Heads Up!</h4>
      <p>Your spreadsheet must be formatted properly or you will cause a bunch of problems!</p>
      <p>Your spreadsheet should match the following format and column order. Do not upload your file if it doesn't match this format!</p>
      <table class="table table-striped table-condensed">
        <tbody>
          <tr>
            <td nowrap>Athlete ID</td>
            <td nowrap>Last Name</td>
            <td nowrap>First Name</td>
            <td nowrap>Groups</td>
            <% resource.metrics.each do |metric| %>
              <td nowrap><%= metric %></td>
            <% end %>
          </tr>
        </tbody>
      </table>
      <% if resource.is_a?(Organization) %>
        <%= link_to "Download Template", download_performance_template_organization_path(resource,'csv'), class: 'btn btn-danger' %>
      <% elsif resource.is_a?(Division) %> 
        <%= link_to "Download Template", download_performance_template_organization_division_path(resource.organization,resource,'csv'), class: 'btn btn-danger' %>
      <% else %>
      <% end %>
    </div>

    <div class="modal-footer">
      <button type="submit" class="btn btn-primary">Upload Data</button>
    </div>
  <% end %>
</div>