<%- model_class = CompletedSurvey -%>
<div class="page-header clearfix">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:date) %></th>
      <th><%= model_class.human_attribute_name(:user_id) %></th>
      <th><%= model_class.human_attribute_name(:survey_id) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @completed_surveys.each do |completed_survey| %>
      <tr>
        <td><%= link_to completed_survey.id, completed_survey_path(completed_survey) %></td>
        <td><%= completed_survey.date %></td>
        <td><%= completed_survey.user_id %></td>
        <td><%= completed_survey.survey_id %></td>
        <td><%=l completed_survey.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_completed_survey_path(completed_survey), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      completed_survey_path(completed_survey),
                      :method => :delete,
                      :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_completed_survey_path,
            :class => 'btn btn-primary' %>
