<%- model_class = CompletedSurvey -%>
<div class="page-header clearfix">
  <h1><%= @completed_survey.to_s %> - <%= parent %> - <%= @completed_survey.date %> </h1>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%=t 'question' %></th>
      <th><%=t 'response' %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @completed_survey.selected_responses.each do |selected_response| %>
      <%= simple_form_for selected_response, {remote: true, :html => { :class => 'inline-submit form-horizontal' }} do |f| %>
        <tr>
          <td><%= selected_response.question %></td>
          <td><%= f.association :response, collection: selected_response.question.responses, label: false, include_blank: false %></td>
          <td>
            <%= f.button :submit, :class => 'btn-primary', value: t('save') %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>


<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              parent, :class => 'btn'  %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              [parent,@completed_survey],
              :method => 'delete',
              :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
              :class => 'btn btn-danger' %>
</div>
