<%= content_for(:breadcrumb) do %>
  <div class="span6">
    <ul class="breadcrumb">
      <li><%= link_to t('home'), root_path %><span class="divider">/</span></li>
      <li class="active"><%=t 'choose_division' %></li>
    </ul>
  </div>  
<% end %>

<section id="divisions">
  <table class="table table-striped">
    <thead>
      <tr>
        <th><%=t 'name' %></th>
      </tr>
    </thead>
    <tbody>
      <% (@organization.try(:divisions)||[]).each do |division| %>
        <tr><td><%= link_to division.name, root_path(division_id: division.id) %></td></tr>
      <% end %>
    </tbody>
  </table>
</section>