<%= simple_form_for @response, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :question_id %>
  <%= f.input :short_text %>
  <%= f.input :long_text %>
  <%= f.input :points %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                responses_path, :class => 'btn' %>
  </div>
<% end %>
