<%= content_for(:breadcrumb) do %>
  <div class="span7">
    <ul class="breadcrumb">
      <li><%= link_to t('home'), root_path %><span class="divider">/</span></li>
      <li><%= link_to parent.organization, [parent.organization] %><span class="divider">/</span></li>
      <li><%= link_to t('surveys'), [:surveys] %><span class="divider">/</span></li>
      <li><%= link_to @assigned_question_set.survey, [@assigned_question_set.survey] %><span class="divider">/</span></li>
      <li><%= link_to @assigned_question_set, [@assigned_question_set.survey,@assigned_question_set] %><span class="divider">/</span></li>
      <li><%= link_to @assigned_question, [@assigned_question_set,@assigned_question] %><span class="divider">/</span></li>
      <li class="active"><%= resource.new_record? ? t('new_response') : t('edit_response') %></li>
    </ul>
  </div>
<% end %>



<%= simple_form_for [parent,@response], :html => { :class => 'form-horizontal' } do |f| %>

  <% (resource.organization || parent.organization).locales.each do |l| %>
    <h4><%=t l.name %></h4>
    <%= f.globalize_fields_for l.code.to_sym do |g| %>
      <%= g.input :short_text %>
      <%= g.input :long_text, input_html: {rows: "", cols: ""} %>
      <%= g.input :suggestion, input_html: {rows: "", cols: ""} %>
    <% end %>
  <% end %>

  <%= f.input :points %>
  <%= f.input :alert %>
  <%#= f.input :position, input_html: { value: (resource.position || (parent.responses.last ? (parent.responses.last.position || 0) + 1 : 1)) }, hint: t('position_hint') %>
  
  <% if params[:assigned_question_id] %>
    <%= hidden_field_tag :assigned_question_id, params[:assigned_question_id] %>
    <%= hidden_field_tag :assigned_question_set_id, params[:assigned_question_set_id] %>
  <% end %>
  
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                parent, :class => 'back btn' %>
  </div>
<% end %>
