<%= simple_form_for [parent, @point_range], :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :low %>
  <%= f.input :high %>
  <%= f.input :description %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                [parent.division,parent], :class => 'btn' %>
  </div>
<% end %>
