<%- model_class = PointRange -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:assigned_survey_id) %>:</strong></dt>
  <dd><%= @point_range.assigned_survey_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:low) %>:</strong></dt>
  <dd><%= @point_range.low %></dd>
  <dt><strong><%= model_class.human_attribute_name(:high) %>:</strong></dt>
  <dd><%= @point_range.high %></dd>
  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
  <dd><%= @point_range.description %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              point_ranges_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_point_range_path(@point_range), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              point_range_path(@point_range),
              :method => 'delete',
              :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
              :class => 'btn btn-danger' %>
</div>
