<%- model_class = AssignedQuestionSet -%>
<div class="page-header clearfix">
  <h1><%= parent %>: <%= @assigned_question_set %></h1>
</div>

<p><%= @assigned_question_set.question_set.description %></p>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%=t 'question' %></th>
      <th><%=t 'choices' %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @assigned_question_set.question_set.assigned_questions.each do |assigned_question| %>
      <tr>
        <td><%= link_to assigned_question, [resource,assigned_question] %></td>
        <td>
          <div class="btn-group">
            <a class="btn btn-inverse btn-mini dropdown-toggle" data-toggle="dropdown" href="#">
              <%= assigned_question.question.responses.count %> <%=t 'choices' %>
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <% assigned_question.question.responses.each do |response| %>
                <li><%= link_to raw(response.to_s), edit_question_response_path(assigned_question.question,response, assigned_question_id: assigned_question.id, assigned_question_set_id: @assigned_question_set.id) %></li>
              <% end %>
              <li><%= link_to t('add_response'), new_question_response_path(assigned_question.question,assigned_question_id: assigned_question.id, assigned_question_set_id: @assigned_question_set.id) %></li>
            </ul>
          </div>
        </td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      [:edit,resource,assigned_question], :class => 'btn btn-mini' %>
          <%= link_to t('remove'),
                      [resource,assigned_question],
                      :method => :delete,
                      :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure? This will remove this question from this question set.')),
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="form-actions">
  <%= link_to t('add_question'),
              new_assigned_question_set_assigned_question_path(resource), :class => 'btn btn-primary'  %>
  <%= link_to t('.back', :default => t("helpers.links.back")),
              parent, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              [:edit,@assigned_question_set.survey,@assigned_question_set], :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              [@assigned_question_set.survey,@assigned_question_set],
              :method => 'delete',
              :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
              :class => 'btn btn-danger' %>
</div>
