<%- model_class = Organization -%>

<%= content_for(:breadcrumb) do %>
  <div class="span6">
    <ul class="breadcrumb">
      <li><%= link_to t('home'), root_path %><span class="divider">/</span></li>
      <li class="active"><%= resource %></li>
    </ul>
  </div>  
  
  <div class="span6 btn-group">
    <%= link_to t('.edit', :default => t("helpers.links.edit")),
                edit_organization_path(@organization), :class => 'btn btn-large' if can?(:update, resource) %>
    <%= link_to t('delete'),
                organization_path(@organization),
                :method => 'delete',
                :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
                :class => 'btn btn-danger btn-large' if can?(:destroy, resource) %>
  </div>
<% end %>

<% if can?(:update, resource) %>
  <div class="accordion" id="accordion">
    <div class="accordion-group">
      <div class="accordion-heading">
        <h4 class="accordion-title">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseUsers">
            <%=t 'athletes' %>
          </a>
        </h4>
      </div>
      <div id="collapseUsers" class="accordion-collapse collapse in">
        <div class="accordion-body">
          <div class="form-actions">
            <div class="btn-group pull-right">
              <a class="btn btn-primary global-submit" href="#">Submit</a>
              <a class="btn btn-primary" href="#upload-modal" data-toggle="modal">Upload</a>
            </div>
          
            <div class="pull-right">
              <form class="form-inline" action="" method="get">
                <div class="input-append">
                  <!-- <label style="display:inline;">Date Recorded:</label> -->
                  <input type="text" name="record_date" class="base-date datepicker input-small" value="<%= params[:record_date].strftime('%m/%d/%Y') %>" />
                  <input type="submit" class="btn btn-primary" value="Change Date" />
                </div>
              </form>
            </div>
          </div>
          <div class="scroll-pane">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th nowrap>Athlete ID</th>
                  <th nowrap><%= model_class.human_attribute_name(:last_name) %></th>
                  <th nowrap><%= model_class.human_attribute_name(:first_name) %></th>
                  <th nowrap>Groups</th>
                  <% resource.metrics.each do |metric| %>
                    <th nowrap><%= link_to metric, [:edit,resource,metric] %></th>
                  <% end %>
                  <!-- <th><%=t '.actions', :default => t("helpers.actions") %></th> -->
                </tr>
              </thead>
              <tbody>
                <% @organization.users.each do |user| %>
                  <tr>
                    <td><%= link_to user.id, user %></td>
                    <td><%= link_to user.first_name, user %></td>
                    <td><%= link_to user.last_name, user %></td>
                    <td><%= user.assigned_groups.map{|ag| "#{ag.division}:#{ag.group}"}.join(", ") %></td>
                    <% resource.metrics.each do |metric| %>
                      <% recorded_metric = metric.recorded_metrics.where{ (recorded_on == my{params[:record_date].to_date}) & (user_id == my{user.id}) }.first %>
                      <td class="metric">
                        <%= simple_form_for [user,(recorded_metric||RecordedMetric.new)], :html => { :class => 'form-inline' } do |f| %>
                          <%= f.input :metric_id, as: :hidden, input_html: {value: metric.id} %>
                          <% if metric.metric_type.name == 'Text' %>
                            <%= f.input :value, label: false %>
                          <% else %>
                            <%= f.input :value, label: false, input_html: {type: :number, step: ".01", class: "input-mini"} %>
                          <% end %>
                          <%= f.input :recorded_on, as: :hidden, input_html: {value: params[:record_date].strftime('%m/%d/%Y'), class: 'datepicker'} %>
                        <% end %>
                      </td>
                    <% end %>
                    <!-- <td>
                                        <%= link_to t('.edit', :default => t("helpers.links.edit")),
                                                    [:edit, user], :class => 'btn btn-mini' %>
                                        <%= link_to t('record_metric'),
                                                    new_user_recorded_metric_path(user), :class => 'btn btn-mini' %>
                                        <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                                                    user,
                                                    :method => :delete,
                                                    :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
                                                    :class => 'btn btn-mini btn-danger' %>
                                      </td> -->
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
          <div class="form-actions">
            <a class="btn btn-primary global-submit" href="#">Submit</a>
          </div>
        </div>
      </div>
    </div>
    
    <div class="accordion-group">
      <div class="accordion-heading">
        <h4 class="accordion-title">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
            <%=t 'divisions' %>
          </a>
        </h4>
      </div>
      <div id="collapseOne" class="accordion-collapse collapse">
        <div class="accordion-body">
          <table class="table table-striped">
            <thead>
              <tr>
                <th><%= model_class.human_attribute_name(:name) %></th>
                <th><%=t '.actions', :default => t("helpers.actions") %></th>
              </tr>
            </thead>
            <tbody>
              <% @organization.divisions.each do |division| %>
                <tr>
                  <td><%= link_to division, [resource,division] %></td>
                  <td>
                    <%= link_to t('.edit', :default => t("helpers.links.edit")),
                                edit_organization_division_path(@organization,division), :class => 'btn btn-mini' %>
                    <%= link_to t('add_group'),
                                new_division_group_path(division), :class => 'btn btn-mini' %>
                    <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                                organization_division_path(@organization,division),
                                :method => :delete,
                                :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
                                :class => 'btn btn-mini btn-danger' %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
    
          <div class="form-actions">
            <%= link_to t('add_division'), new_organization_division_path(resource), :class => 'btn btn-info' %>
          </div>
        </div>
      </div>
    </div>
    
    <div class="accordion-group">
      <div class="accordion-heading">
        <h4 class="accordion-title">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseGroups">
            <%=t 'groups' %>
          </a>
        </h4>
      </div>
      <div id="collapseGroups" class="accordion-collapse collapse">
        <div class="accordion-body">
          <table class="table table-striped">
            <thead>
              <tr>
                <th><%= model_class.human_attribute_name(:name) %></th>
                <th><%=t '.actions', :default => t("helpers.actions") %></th>
              </tr>
            </thead>
            <tbody>
              <% @organization.groups.each do |group| %>
                <tr>
                  <td><%= link_to "#{group} (#{group.division})", [group.division,group] %></td>
                  <td>
                    <%= link_to t('.edit', :default => t("helpers.links.edit")),
                                edit_division_group_path(group.division,group), :class => 'btn btn-mini' %>
                    <%= link_to t('add_user'),
                                new_group_user_path(group), :class => 'btn btn-mini' %>
                    <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                                division_group_path(group.division,group),
                                :method => :delete,
                                :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
                                :class => 'btn btn-mini btn-danger' %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  
  
    <div class="accordion-group">
      <div class="accordion-heading">
        <h4 class="accordion-title">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
            <%=t 'metrics' %>
          </a>
        </h4>
      </div>
    
      <div id="collapseTwo" class="accordion-collapse collapse">
        <div class="accordion-body">
          <table class="table table-striped">
            <thead>
              <tr>
                <th><%= model_class.human_attribute_name(:name) %></th>
                <th><%= model_class.human_attribute_name(:metric_type_id) %></th>
                <th><%= model_class.human_attribute_name(:decimal_places) %></th>
                <th><%=t '.actions', :default => t("helpers.actions") %></th>
              </tr>
            </thead>
            <tbody>
              <% @organization.metrics.each do |metric| %>
                <tr>
                  <td><%= link_to metric, organization_metric_path(@organization,metric) %></td>
                  <td><%= metric.metric_type %></td>
                  <td><%= metric.decimal_places %></td>
                  <td>
                    <%= link_to t('.edit', :default => t("helpers.links.edit")),
                                edit_organization_metric_path(@organization,metric), :class => 'btn btn-mini' %>
                    <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                                organization_metric_path(@organization,metric),
                                :method => :delete,
                                :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
                                :class => 'btn btn-mini btn-danger' %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>

          <div class="form-actions">
            <%= link_to t('add_metric'), new_organization_metric_path(resource), :class => 'btn btn-info' %>
          </div>
        </div>
      </div>
    </div>
  
    <div class="accordion-group">
      <div class="accordion-heading">
        <h4 class="accordion-title">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
            <%=t 'twitter_accounts' %>
          </a>
        </h4>
      </div>
    
      <div id="collapseThree" class="accordion-collapse collapse">
        <div class="accordion-body">
          <table class="table">
            <tbody>
              <% @organization.twitter_accounts.each do |account| %>
                <tr>
                  <td><a href="http://twitter.com/<%= account.nickname %>"><img src="<%= @organization.twitter_profile_image_src(account.nickname) %>" /></a></td>
                  <td>@<a href="http://twitter.com/<%= account.nickname %>"><%= account.nickname %></a></td>
                  <td><%= @organization.twitter_description(account.nickname) %></td>
                  <td><%= link_to t('delete'), authentication_path(account), method: 'delete', confirm: t("helpers.links.confirm", default: 'Are you sure?'), class: 'btn btn-danger' %></td>
                </tr>
              <% end %>
            </tbody>
          </table>

          <div class="form-actions">
            <a class="btn btn-info" href="/auth/twitter?force_login=true&amp;organization_id=<%= @organization.to_param %>"><%= t('add_twitter_account') %></a>
          </div>
        </div>
      </div>
    </div>
  
    <div class="accordion-group">
      <div class="accordion-heading">
        <h4 class="accordion-title">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
            <%=t 'google_accounts' %>
          </a>
        </h4>
      </div>
    
      <div id="collapseFour" class="accordion-collapse collapse">
        <div class="accordion-body">
          <table class="table">
            <tbody>
              <% @organization.google_accounts.each do |account| %>
                <tr>
                  <td><%= account.nickname %></td>
                  <td><%= link_to t('delete'), authentication_path(account), method: 'delete', confirm: t("helpers.links.confirm", default: 'Are you sure?'), class: 'btn btn-danger' %></td>
                </tr>
              <% end %>
            </tbody>
          </table>

          <div class="form-actions">
            <a class="btn btn-info" href="/auth/google_oauth2?force_login=true&amp;organization_id=<%= @organization.to_param %>"><%= t('add_google_account') %></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
<% end %>

<div id="upload-modal" class="modal hide fade">
  <%= form_tag(upload_performance_data_organization_path(resource), method: :put, multipart: true, class: 'horizontal') do %>
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h3>Upload Performance Data</h3>
    </div>
    <div class="modal-body">
      <div class="control-group">
        <label class="control-label" for="recorded_date">Date Recorded</label>
        <div class="controls">
          <input type="text" class="datepicker" id="recorded_date" name="recorded_date" value="<%=l params[:record_date], format: :picker %>">
        </div>
      </div>
      <!-- <div class="control-group">
              <label class="control-label" for="end_date">Group</label>
              <div class="controls">
                <%= select_tag :group_id, options_from_collection_for_select(resource.groups, :id, :full_name) %>
                <span class="help-block">Any athlete that is in the spreadsheet that is not already in the system, will be assigned to this group.</span>
              </div>
            </div> -->
      
      <div class="control-group">
        <label class="control-label" for="end_date">File</label>
        <div class="controls">
          <%= file_field_tag 'file', accept: 'text/csv' %>
          <span class="help-block">File must be in 'CSV' format</span>
        </div>
      </div>
    </div>
    <div class="alert alert-block alert-error" style="overflow:scroll;">
      <h4>Heads Up!</h4>
      <p>Your spreadsheet must be formatted properly or you will cause a bunch of problems!</p>
      <p>Your spreadsheet should match the following format and column order. Do not upload your file if it doesn't match this format!</p>
      <table class="table table-striped table-condensed">
        <tbody>
          <tr>
            <td nowrap>Athlete ID</td>
            <td nowrap>Last Name</td>
            <td nowrap>First Name</td>
            <td nowrap>Groups</td>
            <% resource.metrics.each do |metric| %>
              <td nowrap><%= metric %></td>
            <% end %>
          </tr>
        </tbody>
      </table>
      <%= link_to "Download Template", download_performance_template_organization_path(resource,'csv'), class: 'btn btn-danger' %>
    </div>

    <div class="modal-footer">
      <button type="submit" class="btn btn-primary">Upload Data</button>
    </div>
  <% end %>
</div>