<%= simple_form_for @selected_response, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :user_id %>
  <%= f.input :response_id %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                selected_responses_path, :class => 'btn' %>
  </div>
<% end %>
